html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Radley', serif;
	font-family: 'Overpass Mono', monospace;
}

ol, ul {
	list-style: none;
}

.header{
	background-color: black;
	width: 80%;
	height: 250px;
	margin: auto;
	border-bottom: 7px solid white;
	padding-top: 40px;
	position: fixed;
	margin-left: 10%;
	top: 0;
	overflow: hidden;
	color: white;
}

.mainheader{
	width: 100%;
}
.foto{
	width: 30%;
	float: left;
	height: 200px;
}
.profile{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin-left: 30%;
	border: 5px solid gold;
}

.profile:hover{
	border: 5px solid white;
}

.name{
	width: 68%;
	float: right;
	font-size: 80px;
}
.main{
	width: 80%;
	margin: auto;
	background-color: #eaeaea;
	margin-top: 290px;
}

.wrap.about, .wrap.overview, .wrap.work, .wrap.skills, .wrap.education{
	height: 150px;
	width: 100%;
	border-bottom: 7px solid white;
}

.about:hover{
	background-color: gold;
	transition: 1s;
	border-bottom: 7px solid black;
}

.overview:hover{
	background-color: gold;
	transition: 1s;
	border-bottom: 7px solid black;
}

.work:hover{
	background-color: gold;
	transition: 1s;
	border-bottom: 7px solid black;
}

.skills:hover{
	background-color: gold;
	transition: 1s;
	border-bottom: 7px solid black;
}

.education:hover{
	background-color: gold;
	transition: 1s;
	border-bottom: 7px solid black;
}


.title{
	width: 30%;
	height: 150px;
	float: left;
	line-height: 150px;
	text-align: center;
}
.discription{
	width: 70%;
	height: 150px;
	margin-left: 30%;
	list-style-type: none;
	padding-top: 50px;
}

.footer{
	height: 50px;
	width: 80%;
	margin: auto;
	background-color: black;
	border-top: 7px solid white;
	text-align: center;
	line-height: 50px;
	color: white;
}